{% extends 'dashboard.html.twig' %}

{% block title %}ProductSubCategory index{% endblock %}

{% block body %}
    <h1>ProductSubCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_sub_category in product_sub_categories %}
            <tr>
                <td>{{ product_sub_category.id }}</td>
                <td>{{ product_sub_category.name }}</td>
                <td>{{ product_sub_category.description }}</td>
                <td>{{ product_sub_category.picture }}</td>
                <td>{{ product_sub_category.createdAt ? product_sub_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_product_sub_category_show', {'id': product_sub_category.id}) }}">show</a>
                    <a href="{{ path('app_product_sub_category_edit', {'id': product_sub_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_sub_category_new') }}">Create new</a>
{% endblock %}
